link/.config/asciinema/install-id

link/.config/cb/api.crunchybridge.com
link/.config/cb/certs/*

link/.config/configstore/ember-cli.json
link/.config/configstore/nodemon.json
link/.config/configstore/update-notifier-*
link/.config/configstore/yo.json

link/.config/gh/hosts.yml

link/.config/github-copilot/hosts.json

link/.config/iterm2/AppSupport

link/.config/ngrok/ngrok.yml

link/.config/op/config

link/.config/raycast/config.json
link/.config/raycast/extensions

link/.config/yarn/global

link/.config/zed/.tmp*
link/.config/zed/conversations
link/.config/zed/embeddings
link/.config/zed/prompts
