
link/.config/zed/.tmp*
/link/.config/yarn/global
/link/.config/zed/embeddings
/link/.config/raycast/extensions
/link/.config/iterm2/AppSupport
link/.config/gh/hosts.yml
link/.config/github-copilot/hosts.json
link/.config/cb/api.crunchybridge.com
link/.config/cb/certs/*
link/.config/asciinema/install-id
link/.config/op/config
link/.config/raycast/config.json
/link/.config/zed/prompts
link/.config/configstore/update-notifier-*
link/.config/configstore/ember-cli.json
link/.config/configstore/yo.json
link/.config/configstore/nodemon.json
link/.config/ngrok/ngrok.yml
